/*Importation de la police Roboto de Goiogle Font*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background-color: #00796B;
    font-family: 'Roboto', sans-serif;
}





/*Style du bouton valider*/

.waves-effect {
    border-radius: 20px;
    color: #00796B;
    background-color: white;
}




/*Positionnement du formulaire, bouton et date*/

#positionForm {
    margin: auto;
    text-align: center;
}


#champsVille {
    font-size: 30px;
    color: white;
    margin: auto;
    text-align: center;
}


#date {
    padding: 15px;
    color: white;
    opacity: 0.3;
    font-size: 20px;
}

#cadreTemp {
    font-size: 100px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}

@media screen and (min-width: 640px) {
    #cadreTemp {
        text-align: right;
    }
}

@media screen and (max-width: 640px) {

    #autresDonnees {
        margin-left: 15%;
    }
}

#autresDonnees {
    font-size: 18px;
    color: white;
}